.wrapper {
    width: 356px;
    margin-right: 10px;
    .tiktok-1rvr9ul-NavMainNavContainer {
        position: sticky;
        top: 70px;
        bottom: 0;
        margin-bottom: 8px;
        padding: 0;

        .tiktok-nwhccz-UlMainNav {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                padding: 2px 0px;

                .tiktok-12zznuq-StyledLink-StyledTmpLink {
                    margin: 10px 0px;
                    align-items: center;
                    justify-content: start;
                    display: flex;
                    &.active {
                        color: rgba(254, 44, 85, 1);
                    }

                    .tiktok-138u7nq-SpanMainNavText {
                        margin-left: 16px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                &:hover {
                    background-color: rgba(22, 24, 35, 0.06);
                }
            }
        }
        .account_sidebar {
            border-top: 1px solid #ccc;
            width: 300px;
            color: var(--text-color);
            .title_account_user {
                font-size: 18px;
                font-weight: bold;
                display: block;
                margin: 20px 0px;
            }
            .account_user-box {
                max-height: 40vh;
                overflow-y: scroll;
                margin-left: -16px;
            }
        }
    }
}
