.wrapper{
    width: 356px;
    
    .tiktok-1rvr9ul-NavMainNavContainer {
        margin-bottom: 8px;
        padding: 0;

        .tiktok-nwhccz-UlMainNav {
            padding: 0;
            margin: 0;
            list-style-type: none;


            .tiktok-12zznuq-StyledLink-StyledTmpLink {
                display: flex;
                align-items: center;
                justify-content: start;
                margin:20px 0px;

                .tiktok-138u7nq-SpanMainNavText{
                    margin-left: 16px;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            
          
        }
       

    }
    
    
}
