.recommend-list-item-container {
    display: flex;
    height: 100%;
    padding: 20px 0;
    position: relative;
    max-width: 692px;
    // align-items: center;

    .image-acount {
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 15px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
.video-recomend-box {
    .video-recomend-infor-acount {
        .infor-box {
            max-width: 510px;
            margin-right: 40px;
            .account_nick_name {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                display: inline-block;
                margin-right: 4px;

                .icon-check {
                    font-size: 14px;
                    color: rgb(32, 213, 236);
                }
            }
            .account_name {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                line-height: 28px;
            }
            .video-recomend-content {
                display: inline;
                font-weight: 400;
                color: var(--text-color);
            }
            .video-recomend-tag {
                display: inline-block;
                font-weight: 900;
                margin: 0px 3px;
            }
        }
    }
    .video-box {
        display: flex;
        align-items: center;
        .video-play {
            max-width: 90%;
            width: 420px;
            height: 70vh;
            object-fit: contain;
            border-radius: 8px;
            background-color: var(--text-color);
        }
        .action-of-video {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--text-color);
            button {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 48px;
                height: 48px;
                font-size: 0px;
                border-radius: 50%;
                -webkit-transition: all ease-in-out 200ms;
                transition: all ease-in-out 200ms;
                background-color: var(--background-button);
                margin-top: 8px;
                margin-bottom: 6px;
                cursor: pointer;
            }
        }
    }
}

.d-flex-aitems-center {
    display: flex;
    align-items: center;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-box {
        padding: 20px 30px;
        background-color: white;
        width: 600px;
        max-width: 600px;
        overflow: hidden;
        .title_action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
                font-weight: 500;
            }
            span {
                font-size: 16px;
                font-weight: 300;
                margin-left: 15px;
                opacity: 0.6;
            }
            .action-close {
                cursor: pointer;
            }
        }

        .user-comment {
            display: flex;
            align-items: center;

            img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 15px;
            }
            input {
                border-bottom: 1px solid;
                width: 100%;
                padding: 10px;
            }
            button {
                padding: 10px;
                margin-left: 15px;
                background-color: var(--primary);
                color: white;
                font-weight: 700;
                cursor: pointer;
            }
        }
        .list-comments {
            max-height: 500px;
            overflow-y: scroll;

            .list-comment {
                display: flex;

                margin-top: 30px;
                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 15px;
                }
                .name-content {
                    p {
                        font-weight: bold;
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 14px;
                            font-weight: 200;
                            margin-left: 15px;
                            opacity: 0.7;
                        }
                    }
                    .content-user-comment {
                        position: relative;
                        display: inline-block;
                        margin-top: 5px;
                        padding: 5px 15px;
                        border-radius: 8px;
                        background-color: #f0f2f5;

                        .tym-of-comm {
                            position: absolute;
                            right: -47px;
                            bottom: 0px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            background-color: white;
                            padding: 3px 10px;
                            font-size: 14px;
                            border-radius: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 18px;
                                height: 18px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .action-comment {
                        button {
                            cursor: pointer;
                            background-color: white;
                            font-size: 12px;
                            font-weight: 300;
                            opacity: 0.5;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
    }
}
